table, th, td
{
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-collapse: collapse;
    text-align:center;

}

#search_table_pagination
{
   padding-top: 3px;
}

.text_paginate
{
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-style: inset;
}

.div_paragraph_container
{
    text-align: center;
}


#submit_review_text
{
    display: none;
}

#review_text_btns
{
    display: inline;
}


#review-container
{
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    color: #D3D3D3;
    padding: 5px;
    background-color: #ffffff;
}
.review-span
{
    color: #000000;
    padding: 5px;
}

.user-review-ctn
{
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    padding: 5px;
    color: #d0dbde;
    background-color: #d0dbde;
    box-shadow: 3px 3px 4px #808080;
}


#bookinfo-btn-sets
{
    padding: 5px;
}