th
{
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-collapse: collapse;
    text-align:center;
    background-color: #343a40;
    color: #ffffff;
}

#search_table_result, td
{
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    text-align:center;
}

tr:hover
{
    background: #f0f8ff;
}

a
{
    display: block;
    padding: 10px;
}
a.booklink:link, a.booklink:visited, a.booklink:hover, a.booklink:active
{
    text-decoration: none;
    color: #000000;
}

#search_table_pagination
{
   padding-top: 3px;
}

#search-wrap
{
    width: 50% ;
    margin: 0 auto;
}


#submit_review_text
{
    display: none;
    padding-top: 10px;
}

#review_text_btns
{
    display: inline;
}

#bookinfo-btn-sets
{
    padding: 5px;
}

#review-container
{
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    color: #D3D3D3;
    padding: 5px;
    background-color: #ffffff;
}


#other-user-reviews-ctn
{
    padding-top: 10px;
}

#user-date-post
{
    float:right;
}

.font-large
{
    font-size: 20px;
}

.white-txt
{
    color : #ffffff;
}
.align-right
{
    float:right;
    margin: 0 425px 0 0px;
}

.center
{
    text-align: center;
}

.padding-top-div
{
    padding-top: 30px;
}

.review-box-padding
{
    padding-top: 10px;
}
.review-span
{
    color: #000000;
    padding: 5px;
    position: relative;
}

.user-review-ctn
{
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    padding: 10px;
    color: #d0dbde;
    background-color: #d0dbde;

}


.drop-shadow-style1
{
    box-shadow: 0px 1px 1px 1px #808080;
}

.center
{
    text-align:center;
}

.text_paginate
{
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-style: inset;
}

.div_paragraph_container
{
    text-align: center;
}


.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.container {
  height: 1000px;
}

.wrapper {
  margin-left: 140px;
}