{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class='overlay' id='overlay'>

        <form id="setusername" autocomplete="off">
            <div id="popupheader">
                <span id="popup-title">Set Username</span>
            </div>
            <div id="ctn-1">
                <div class="form-group">
                    <input type='text' placeholder='Set your username' id="usernameinput" required>
                </div>
                <button type='submit' class='ctm-btn'>Set</button>
            </div>
        </form>

</div>
<div id = "main-container">
    <div id="top-nav">
        <ul class ="nav nav-pills navbar-dark bg-dark">
            <li><span class="border-right"><a class="ctm-nav-link white-txt" href="#">Link 1</a></span></li>
            <li><span class="border-right"><a class="ctm-nav-link white-txt" href="#">Link 2</a></span></li>
            <li><span class="border-right"><a class="ctm-nav-link white-txt" href="#">Link 3</a></span></li>
        </ul>
    </div>

    <div id="chat-display-area">
        <div id="chat-display">

        </div>
    </div>
    <div id="bottom-div">
        <form id="user-input-field" autocomplete="off">
            <div>
                <textarea type = 'text' placeholder='Message' id='message-input' rows="1"></textarea>
                <button type='submit' id='send-btn'>Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
