{% extends "layout.html" %}

{% block title %}
    Bookinfo
{% endblock %}

{% block main %}
    <div>
        <ul>
            <li><strong>Book Title: </strong>{{json["title"]}}</li>
            <li><strong>Book Author: </strong>{{json["author"]}}</li>
            <li><strong>Year: </strong>{{json["year"]}}</li>
            <li><strong>Review Count: </strong>{{json["review_counts"]}}</li>
            <li><strong>Average Score: </strong>{{json["average_score"]}}</li>
        </ul>
    </div>
    <!--My Review-->
    <div>
        <strong>My Review: {{stars}}</strong>
        <p id = "my_review_text">
            {%if text%}
                <textarea>{{text}}</textarea>
            {%endif%}
        </p>
    </div>
    <!--user review button-->
    <div>
                <button class="btn btn-primary" type="submit" id="review-button">Create Review</button>
                <button class="btn btn-primary" type="submit" id="edit-button">Edit Review</button>
                <button class="btn btn-primary" type="submit" id="delete-button">Delete Review</button>
    </div>

{% endblock %}