{% extends "layout.html" %}

{% block title %}
    Bookinfo
{% endblock %}

{% block main %}
    <div>
        <ul>
            <li><strong>Book Title: </strong>{{json["title"]}}</li>
            <li><strong>Book Author: </strong>{{json["author"]}}</li>
            <li><strong>Year: </strong>{{json["year"]}}</li>
            <li><strong>Review Count: </strong>{{json["review_counts"]}}</li>
            <li><strong>Average Score: </strong>{{json["average_score"]}}</li>
        </ul>
    </div>
    <!--My Review-->
    <div class="user-review-ctn drop-shadow-style1">
        <span class="review-span"><strong>My Review: </strong> <span id="review-star"> {%if json["rating"]%}{{json["rating"]}} / 5.0 {%else%} 0.00 / 5.0 {%endif%}</span></span>
        <p id="review-container" rows="4" cols="50">
            <span id ="my_review_text" class="review-span">{{json["review"]}}</span>
        </p>
    </div>

    <div id='submit_review_text'>
        Stars: <input autocomplete="off" id="stars" maxlength="4" size="4"/><br>
        Review:<br>
        <textarea rows="4" cols="50" id="review" autofocus form="reviewform" maxlength="4000"></textarea>
        <span id="review_text_btns">
            <form id="reviewform">
                <input type="submit" id = "review-submit-btn">
                <button type="button" id = "review-cancel-btn">Cancel</button>
                <span>Text: </span>
                <span id="word-limit">4000</span>
            </form>
        </span>
    </div>

    <!--user review button-->
    <div id='bookinfo-btn-sets'>
                <button class="btn btn-primary" type="button" id="review-button">Create Review</button>
                <button class="btn btn-primary" type="button" id="edit-button">Edit Review</button>
                <button class="btn btn-primary" type="button" id="delete-button">Delete Review</button>
    </div>

    <div id="other-user-reviews-ctn">
    </div>
{% endblock %}