{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div>
    <form id="search_bar" autocomplete="off">
                <div class="input-group">
                    <input class="form-control" id="book" placeholder="Search for book" type="text"/>
                    <span class = "input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>

    </form>
</div>
<div>
    <table id="search_table_result">
    </table>
    <div id = "search_table_pagination">
    </div>
</div>

{% endblock %}
