
#chat-name
{
    padding-left:10px;
}
#bottom-div
{
    width: 100%;
    height:50px;
    position:absolute;
    bottom:0;
}

#usernameinput
{
    width:100%;
    font-size:24px;
}

#user-input-field
{
    position:absolute;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#user-input-field div
{
    position:absolute;
    width:80%;
}

#send-btn
{
    position: absolute;
    top:0;
    right:0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:10%;
    text-align:center;
    background-color: #007bff;
    color: #ffffff;
    height:40px;
    border-style: none;
    outline:none;

}

#send-btn:hover
{
    box-shadow: 0 0 0 2px #00bfff;
}

#send-btn:active
{
    box-shadow: 0 0 0 2px #ffffff;
}

#message-input
{
    position: absolute;
    width: 90%;
    top:0;
    left:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:40px;
    outline:none;
    padding-left: 10px;
    font-size: 16px;
    overflow: hidden;
}

#message-input:focus
{
    box-shadow: 0 0 0 2px #00bfff;
}

#chat-display-area
{
    position:absolute;
    width: 100%;
    height:100%;
}

#chat-display
{
    margin-left: 5px;
    margin-top: 5px;
    position:absolute;
    width: -webkit-calc(100% - 10px);
    width:    -moz-calc(100% - 10px);
    width:         calc(100% - 10px);
    height: -webkit-calc(100% - 10px);
    height:    -moz-calc(100% - 10px);
    height:         calc(100% - 10px);
    border-left:solid;
    border-right:solid;
    border-color:#e2dfdf;
    padding: 5px;
}

#current-chat
{
    position: absolute;
    bottom:0;
    height: 100%;
    overflow: auto;
    width: -webkit-calc(100% - 10px);
    width:    -moz-calc(100% - 10px);
    width:         calc(100% - 10px);
    padding: 5px;
}

.chatbubble-padding
{
    padding: 5px;

}
.chatbubble
{
    margin-top:20px;
    position: relative;
    padding: 10px;
    width: -webkit-calc(100%);
    width:    -moz-calc(100%);
    width:         calc(100%);
    background-color: #065a82;
    border-radius: 12px;
    color: #ffffff;
    word-wrap: break-word;
}


.namebubble
{
    position: absolute;;
    width: -webkit-calc(10%);
    width:    -moz-calc(10%);
    width:         calc(10%);
    border: solid;
    border-radius:20px;
    z-index: 1;
    background-color:white;
    word-wrap:break-word;
    text-align:center;

}
.time-stamp
{
    position: absolute;
    right:0;
    width: -webkit-calc(10%);
    width:    -moz-calc(10%);
    width:         calc(10%);
    border-radius:20px;
    z-index: 1;
    background-color:white;
    word-wrap:break-word;
    text-align:center;
    font-size:12px;
}

#top-nav
{
    height:45px;
    position:absolute;
    width: 100%;
    top:0;
}

#top-nav li
{
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#top-nav a
{
    padding-left: 5px;
    padding-right: 6px;
}

#top-nav span
{
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.border-btm
{
    border-bottom: solid;
    border-color: #ffffff;
    text-align:center;
}
.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


.white-txt
{
    color: #ffffff;

}


.top-align
{
    position: absolute;
    top: 20px;
    margin: 0 0 0 20px;
}

body
{
    position:relative;
}

.border-right
{
    border-right:solid;
    color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-items
{
    position:absolute;
    top:0;
    left:0;
}

.nav-stack
{
    position:absolute;
    top:0;
    left:0;
    margin-left:0px;
    text-align: center;
}

.sidenav #userfield
{
    font-size: 20px;
    padding: 6px 8px 6px 16px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main { /* Same as the width of the sidenav */
    margin-left:160px;
    font-size: 20px; /* Increased text to enable scrolling */
    position:fixed;
    height:100%;
    width: -webkit-calc(100% - 160px);
    width:    -moz-calc(100% - 160px);
    width:         calc(100% - 160px);
}


.nav-btn
{
    background-color: inherit;
    padding: 6px 8px 6px 16px;
}

.nav-btn button
{
    font-size: 25px;
    color:  #818181;
    padding: 0px;
    background-color: inherit;
    cursor: pointer;
    border: none;
}

.nav-btn button:hover
{
    color: #f1f1f1;
}


.overlay
{
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.popupheader
{
    position: absolute;
    background: #00af00;
    box-shadow: 0px 1px 1px 1px #038603;
    color: #ffffff;
    text-align: center;
    width:100%;
}

.popup-form
{
    position: absolute;
    border: solid;
    border-color: #808080;
    box-shadow: 0px 1px 1px 1px #6f6d6d;
    width: 300px;
    height: 300px;
    margin: auto;
}

.popup-title
{
    font-size: 24px;
}


.ctn-1
{
    position: absolute;
    top: 30%;
    left:5%;
    right:5%;
}

.ctm-btn
{
    position: absolute;
    right:0;
    font-size: 30px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.form-group div
{
    float:left;
    padding-top:5px;
    padding-right:5px;
}

.popup-cancel-btn
{
    position:absolute
}


@media screen and (max-width:767px), screen and (max-device-width:767px) {
    .sidenav {
        padding-top: 10px;
        width: 100px;

    }
    .sidenav a {font-size: 12px;}
    .main{
        margin-left:100px;
        width: -webkit-calc(100% - 100px);
        width:    -moz-calc(100% - 100px);
        width:         calc(100% - 100px);
            }
    .ctm-btn
    {
         font-size: 16px;
         padding-left: 10px;
         padding-right: 10px;
    }
    .nav-stack
    {
        text-align:left;
    }
    .nav-btn button
    {
        font-size:12px;
    }
    .popup-form
    {
        width:250px;
        height:150px;
    }
    .popup-input
    {
        font-size: 16px;
    }
    .popup-title
    {
        font-size: 16px;
    }

}

ul
{
    list-style-type: none;
}


