
#ctn-1
{
    position: absolute;
    top: 30%;
    left:5%;
    right:5%;
}
#setusername
{
    position: absolute;
    border: solid;
    border-color: #808080;
    box-shadow: 0px 1px 1px 1px #6f6d6d;
    width: 300px;
    height: 300px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#popupheader
{
    position: absolute;
    background: #00af00;
    box-shadow: 0px 1px 1px 1px #038603;
    color: #ffffff;
    text-align: center;
    width:100%;
}

#popup-title
{
    font-size: 24px;
}

#bottom-div
{
    width: 100%;
    height:50px;
    position:absolute;
    bottom:0;
}

#usernameinput
{
    width:100%;
    font-size:24px;
}

#user-input-field
{
    position:absolute;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#user-input-field div
{
    position:absolute;
    width:80%;
}

#send-btn
{
    position: absolute;
    top:0;
    right:0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:10%;
    text-align:center;
    background-color: #007bff;
    color: #ffffff;
    height:40px;
    border-style: none;
    outline:none;
}

#send-btn:focus
{
    box-shadow: 0 0 0 2px #00bfff;
}

#message-input
{
    position: absolute;
    width: 90%;
    top:0;
    left:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:40px;
    outline:none;
    padding-left: 10px;
}

#message-input:focus
{
    box-shadow: 0 0 0 2px #00bfff;
}

#chat-display-area
{
    position:absolute;
    width: 100%;
}

#chat-display
{
    margin-left: 5px;
    margin-top: 5px;
    position:absolute;
    width: -webkit-calc(100% - 10px);
    width:    -moz-calc(100% - 10px);
    width:         calc(100% - 10px);
    height: -webkit-calc(100% - 10px);
    height:    -moz-calc(100% - 10px);
    height:         calc(100% - 10px);
    border-left:solid;
    border-right:solid;
    border-color:#e2dfdf;
}


#top-nav
{
    height:45px;
    position:absolute;
    width: 100%;
    top:0;
}

#top-nav li
{
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#top-nav a
{
    padding-left: 5px;
    padding-right: 6px;

}
.border-btm
{
    border-bottom: solid;
    border-color: #ffffff;
    text-align:center;
}
.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


.overlay
{
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 999;
}



.white-txt
{
    color: #ffffff;

}

.ctm-btn
{
    position: absolute;
    right:0;
    font-size: 30px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}


.top-align
{
    position: absolute;
    top: 20px;
    margin: 0 0 0 20px;
}

body
{
    position:relative;
}

.border-right
{
    border-right:solid;
    color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-items
{
    position:absolute;
    top:0;
    left:0;
}

.nav-stack
{
    position:absolute;
    top:0;
    left:0;
    margin-left:0px;
}

.sidenav #userfield
{
    font-size: 20px;
    padding: 6px 8px 6px 16px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main { /* Same as the width of the sidenav */
    margin-left:160px;
    font-size: 20px; /* Increased text to enable scrolling */
    position:fixed;
    height:100%;
    width: -webkit-calc(100% - 160px);
    width:    -moz-calc(100% - 160px);
    width:         calc(100% - 160px);
}


@media screen and (max-width:767px), screen and (max-device-width:767px) {
    .sidenav {
        padding-top: 10px;
        width: 100px;

    }
    .sidenav a {font-size: 12px;}
    .main{
        margin-left:100px;
        width: -webkit-calc(100% - 100px);
        width:    -moz-calc(100% - 100px);
        width:         calc(100% - 100px);
            }
    .ctm-btn
    {
         font-size: 16px;
         padding-left: 10px;
         padding-right: 10px;
    }
    #setusername
    {
        width:250px;
        height:150px;
    }
    #usernameinput
    {
        font-size: 16px;
    }
    #popup-title
    {
        font-size: 16px;
    }

}

ul
{
    list-style-type: none;
}


